################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PID_Controller/.vs/PID_Controller/v14
/PID_Controller/obj/Debug
/PID_Controller/bin/Debug
/.vs
/PID_Controller/obj/Release
/PID_Controller/.vs/PID_Controller/v16
